body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;
    font-family: "Arial"
    
}
.container{
    background-color: darksalmon;
    border: solid tomato 1px;
    width: 380px;
    padding: 20px;
}
.cabecera{
    background-color:steelblue;
    height: 10px;
    width: 380px;
    padding: 21px;
    font-size: 20px;
}
.title{
    font-size: 30px;
    text-align: center;
}
.text{
    font-size: 17px;
}