body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;
}
.container{
    background-color: darksalmon;
    border: solid tomato 2px;
    padding: 20px;
    width: 380px;
    font-family: "Arial";

}
.title{
    text-align: center;
}
.text{
    font-size: 17px;
}